:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);
    /* Spacing */
    --space-100: 0.5rem;     /* 8px  */
    --space-150: 0.75rem;    /* 12px */
    --space-200: 1rem;       /* 16px */
    --space-300: 1.5rem;     /* 24px */
    --space-400: 2rem;       /* 32px */
    --space-500: 2.5rem;     /* 40px */
    --space-600: 3rem;       /* 48px */
    --space-1600: 8rem;      /* 128px*/
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Appearence */
    background-color: var(--color-stone-100);
}

.card {
    /* Layout */
    display: flex;
    flex-direction: column;
    /* Appearence */
    background-color: var(--color-white);
    /* Typography */
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-stone-600);
}

.card .card-img {
    width: 100%;
}

.card .container {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
    padding: var(--space-500) var(--space-400);

}

.card section {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.card hr {
    border: none;
    background-color: var(--color-stone-150);
    height: 1px;
}

.card h1, .card h2 {
    /* Typography */
    font-family: Young Serif, sans-serif;
    font-weight: 400;
    color: var(--color-brown-800);
}

.card .title {
    /* Typography */
    font-size: clamp(2.25rem, calc(100vw/12), 2.5rem);
    line-height: 100%;
    color: var(--color-stone-900);
}

.card .heading {
    /* Typogrpahy */
    font-size: 1.75rem;
    line-height: 100%;
}

.card ol, .card ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
}

ol, ul {
    padding-left: 8px;
}

li {
    margin-left: 16px;
}

li::marker {
    color: var(--color-brown-800);
    font-weight: 700;
}

section.quotation {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    padding: var(--space-300);
    background-color: var(--color-rose-50);
    border-radius: 12px;
}

section.quotation h2 {
    color: var(--color-rose-800);
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

table {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    margin-top: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid var(--color-stone-150);
    display: flex;
    justify-content: space-evenly;
    gap:16px;
}

tr > :first-child {
    padding-left: 32px;
    font-weight: 400;
}

tr > :last-child {
    padding-right: 32px;
    font-weight: 700;
    color: var(--color-brown-800);
}

tr:first-of-type {
    margin-top: 0;
}

tr:last-of-type{
    border: none;
    padding-bottom: 0;
}

caption, th {
    text-align: left;
}

tr * {
    width: 100%;
}
p {
    line-height: 150%;
    
}

/* Responsive layout */

@media screen and (min-width: 481px) {
    body {
        /* Padding should grow from 481px viewport width until it reach width
        of 768px - then padding should keep values set by spacing vars. */
        padding: min(17vw, var(--space-1600)) min(6.25vw, var(--space-600));
    }

    .card {
        /* Layout */
        gap: var(--space-500);
        padding: min(6vw, var(--space-500));
        /* Appearence */
        border-radius: var(--space-300);
    }

    .card .card-img {
        height: 18.75rem;
        object-fit: cover;
        /* Appear */
        border-radius: var(--space-150);
    }

    .card .container {
        padding: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .card {
        max-width: 38.5rem;
    }
}

@media screen and (min-width: 769px) {
    .card {
        max-width: min(80vw, 46rem);
    }
}